:root{
    --mainText:black;
    --secondaryText:#4b5156;

    --borderColor:#0e0c0c;
 
    --mainColor:#eaeaea;
    --secondaryColor: #fff;
    --themeBorder:#000000;
    --previewBG:rgb(251,249,243,0.8);
    --priviewShadow:#f0ead6;
    --btnClr:black;
    

}
html,body{
    padding:20;
    margin: 30;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}
p,li,span,label,input{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 40px;
}
.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid ar(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: var(--borderColor);
    overflow: auto;
}

.container
{
    width: 1200;
    margin: 0 auto;   
}

.Greeting-Wrapper
{
    display:grid;
    text-align: center;
    /*justify-content: center; */ 
    /* border: 2px dashed lightcoral; */
    min-height: 1 0em; 
    align-content:center; 
}

.intro-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
     background-color: var(--secondaryColor);
     border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0px 0px;
    /* grid-template-rows: 3em 25em; */
    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
    ;
}

.nav-wrapper
{
    display: flex;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    justify-content: space-between;
    align-items:center;
    background-color: rgba(128, 128, 128, 0.459);
    /* border: 1px dashed coral; */
}

.left-column
{
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 20px; */
    grid-area: left-column;
    /* border-bottom: 1px solid var(--borderColor); */
    /* border: 1px dashed coral; */
}

.theme-opotioned-wrapper
{
    display: flex;
    /* grid-area: nav-wrapper; */
    /* border-bottom: 1px solid var(--borderColor); */
     
    justify-content:center;
     align-items:center; 
    /* background-color: rgba(128, 128, 128, 0.459); */ 
    /* border: 1px dashed coral; */
    
}

.right-column
{
    grid-area: right-column;
    display: grid;
    align-content: center;
    /* border: 1px dashed coral; */
}
.dot-wrap
{
    display: flex;
    padding: 10px;
}
.browser-dot{
    background-color: black;
    height:15px;
    width: 15px;
    border-radius: 50%;
    margin:5px

}

#dot1
{
    background-color: rgba(255, 72, 0, 0.849);
}

#dot2
{
    background-color: rgb(255, 196, 4);
}

#dot3
{
    background-color: rgba(0, 128, 0, 0.897);
} 
ul{
    list-style: none;
}
#navigation
{
    display: flex;
    margin: 0px;
    padding: 10px;
}

.wrapper-dot{
    background-color: black;
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    border: 2px solid var(--borderColor);

}

.wrapper-dot:hover{
    border-width: 5px;
} 


#bigdot1
{
    background-color: rgba(16, 216, 223, 0.849);
}
body *
{
    transition: 1s;
}

#bigdot2
{
    background-color: rgb(6, 236, 75);
}

#bigdot3
{
    background-color: rgba(1, 14, 12, 0.897);
} 
#bigdot0
{
    background-color: rgba(241, 238, 238, 0.808);
} 

#shiva
{
    display: block ;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    /* align-items : center; */
    object-fit: cover;
    /* justify-content: space-between; */
    border: 2px solid var(--borderColor);
}
#setting-notes
{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}


#preview
{
    width: 300px;
    border:1.5px solid #17a2b8;
    background-color: var(--previewBG);
    padding:15px;
    position:relative;
}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border:1.5px solid #17a2b8;
    position: absolute;
} 

#corner-t1{
    top:-5px;
    left:-5px;

}

#corner-tr{
    top:-5px;
    right:-5px;

}

#corner-bl
{
    bottom:-5px;
    left:-5px;

}

#corner-br{
    bottom:-5px;
    left:-5px;

}
#preview-shadow
{
    background-color: var(--priviewShadow);
    width: 300px;
    height: 170px;
    padding-left: 30px;
    padding-top: 30px;

}
.about-wrap{
    display:grid;
     /* grid-template-columns:  1fr 1fr;  */
     grid-template-columns:repeat(auto-fit,minmax(320px,1fr)) ;
     padding-top:50px;
     padding-bottom: 50px;
     gap:100px;


}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--priviewShadow);
}
#Linkedin
{
    width: 100%;
}
.imp-links
{
    display: grid;
    align-content: center;
text-align: center;
}

.post-wrappper
{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    

}
.thumbnail
{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post{
    border:1px solid black;
    /* background-color: white ; */
    /* padding-bottom: 50px; */

}
.post-preview
{
    background-color: white ;
    padding: 15px;

}


.post-title
{
    color:black;
     margin: 0 ; 
}

.post-intro
{
    color:#4b5156;
}
#btn
{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--btnClr);
    border:none;
}
#contact
{
    display: block;
    max-width: 600px;
    margin:0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-top: 50px ;
}

.input-field
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;

}